<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{user.list.tittle}">Usuarios</h2>
		<form class="navbar-form" action="/user/list">
			<div class="form-group">
				<input name="searchText" type="text" class="form-control" size="50"
					th:placeholder="#{user.list.placeholder}">
			</div>
			<button id="botonBusqueda" type="submit" class="btn btn-default"><span
								th:text="#{btn.search}"></span></button>
		</form>
		<p th:text="#{user.list.long.message}">Los usuarios que
			actualmente figuran en el sistema son los siguientes:</p>

		<script> $( "#updateButton" ).click(function() { $("#tableUsers").load('/user/friends/update'); }); </script>

		<script th:inline="javascript">
			$("#updateButton").click(function() {	 			/*<![CDATA[*/
				$("#tableUsers").load('/user/friends/update');				$( "#updateButton" ).click(function() {
			});					 var numberPage = [[${param.page}]];
				 var urlUpdate = '/user/friends/update';
				 if (numberPage != null ){
				 urlUpdate += "?page="+numberPage[0];
				 }
				 $("#tableUsers").load(urlUpdate);
			 });
			 /*]]>*/
		</script>
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableUsers"
				id="tableUsers">
				<thead>
					<tr>
						<th class="col-md-1" th:text="#{user.list.email}">Email</th>
						<th class="col-md-1" th:text="#{user.list.name}">Nombre</th>
						<th class="col-md-1" th:text="#{user.list.lastName}">Apellidos</th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${usersList}">
						<td th:text="${user.email}">Email</td>
						<td th:text="${user.name}">Nombre</td>
						<td th:text="${user.lastName}">Apellido</td>
						<td>
							<!-- sec:authorize="hasRole('ROLE_PUBLIC')" -->
							<div th:switch="${activeUser.checkFriendStatus(user)}">
								<a id="enviar" th:case="'NOT_FRIENDS'" th:href="${'/user/send/' + user.id }" th:text="#{user.list.enviar}">Enviar</a>
								<p id="enviada" th:case="'REQUEST_SENT'" th:disabled="true" th:text="#{user.list.enviada}">Enviada</p>
								<p id="aceptada" th:case="'FRIENDS'" th:disabled="true" th:text="#{user.list.acept}">Aceptado</p>
							</div>
						</td>
						<td>
							<!-- sec:authorize="hasRole('ROLE_ADMIN')" -->
							<a th:href="${'/user/delete/' + user.id}"
							th:text="#{user.list.admin.eliminar}">Eliminar</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/pagination" />
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>